body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
}
.circles {
    &-grid {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
    }

    &-container {
        position: relative;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.circle {
    top: 50px;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid rgba(248, 212, 32, 1);
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    &-y {
        animation-name: revolve-y;
        animation-delay: 1s;
        box-shadow: inset 10px 0 20px rgba(248, 212, 32, 0.8);
    }
    &-x {
        animation-name: revolve-x;
        box-shadow: inset 0 20px 20px rgba(248, 212, 32, 0.8);
    }
    &-z {
        animation-name: revolve-z;
        box-shadow: inset 10px 0 20px rgba(248, 212, 32, 0.8);
    }
    &-zy {
        animation-name: revolve-zy;
        box-shadow: inset 0 20px 20px rgba(248, 212, 32, 0.8);
    }
    &-zz {
        animation-name: revolve-zz;
        box-shadow: inset 10px 0 20px rgba(248, 212, 32, 0.8);
    }
    &-disappear {
        animation-direction: normal;
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-name: disappear;
    }

    &-disappear-secondary {
        animation-delay: 1s;
    }

    &-disappear-third {
        animation-delay: 2s;
    }

    &-disappear-fourth {
        animation-delay: 3s;
    }
}

.circle-planetary {
    background: rgba(179, 227, 0, 1);
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    &-center {
        box-shadow: inset 29px 20px 20px rgba(0, 227, 48, 0.8);
        width: 80px;
        height: 80px;
        top: 60px;
        animation: center 4s linear 0.4s infinite normal;
    }
}

.orbit {
    position: absolute;
    border-radius: 50%;
    &__revolving {
        width: 150px;
        height: 150px;
        animation: orbit 3s ease-in 0s infinite normal;
    }
    &__axis {
        width: 180px;
        height: 150px;
        top: 80px;
        transform: translate(0, 40px);
        animation: orbit-axis 4s ease-in-out 0s infinite normal;
    }
    &__secondary {
        animation-delay: 0.2s;
    }
    &__third {
        animation-delay: 0.4s;
    }
    &__fourth {
        animation-delay: 0.6s;
    }
    &__axis-secondary {
        animation-delay: 0.2s;
    }
    &__axis-third {
        animation-delay: 0.4s;
    }
    &__axis-fourth {
        animation-delay: 0.6s;
    }
}

.orbiter {
    width: 20px;
    height: 20px;
    top: 15px;
    left: 20px;
    position: absolute;
    &__primary {
        background: rgba(248, 212, 32, 0.8);
    }
    &__secondary {
        background: rgba(248, 212, 32, 0.6);
    }
    &__third {
        background: rgba(248, 212, 32, 0.4);
    }
    &__fourth {
        background: rgba(248, 212, 32, 0.2);
    }
    &__primary-axis {
        background: rgba(131, 18, 231, 0.8);
    }
    &__secondary-axis {
        background: rgba(131, 18, 231, 0.6);
    }
    &__third-axis {
        background: rgba(131, 18, 231, 0.4);
    }
    &__fourth-axis {
        background: rgba(131, 18, 231, 0.2);
    }
}

@keyframes revolve-y {
    0% {
        transform: rotateY(0) scale(1);
    }

    100% {
        transform: rotateY(360deg) scale(0.5);
    }
}

@keyframes revolve-x {
    0% {
        transform: rotateX(360deg) scale(0.5);
    }

    100% {
        transform: rotateX(0deg) scale(1);
    }
}
@keyframes revolve-z {
    0% {
        transform: rotate3D(0, 0, 0, 0deg) scale(0.2);
    }

    100% {
        transform: rotate3D(0, 1, 1, 360deg) scale(0.8);
    }
}

@keyframes revolve-zy {
    0% {
        transform: rotate3D(0, 0, 0, 0deg) scale(0.8);
    }

    100% {
        transform: rotate3D(1, 1, 1, -360deg) scale(1.2);
    }
}

@keyframes sphere-zz {
    0% {
        transform: rotate3D(0, 0, 0, 0deg) scale(1.2);
    }

    100% {
        transform: rotate3D(1, 0, 1, -360deg) scale(0.8);
    }
}

@keyframes disappear {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 1;
        background: transparent;
    }

    10% {
        background: rgba(248, 212, 32, 1);
    }

    95% {
        opacity: 1;
        background: transparent;
    }

    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

@keyframes center {
    0% {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.2, 1.2, 1.2);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes orbit {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes orbit-axis {
    0% {
        transform: translate(0, 40px);
        z-index: 20;
    }

    30% {
        transform: translate(128px, -55px);
        z-index: 20;
    }

    31% {
        z-index: 0;
    }

    50% {
        transform: translate(88px, -25px);
        z-index: 0;
    }

    79% {
        z-index: 0;
    }

    88% {
        z-index: 20;
    }

    100% {
        transform: translate(0, 40px);
        z-index: 20;
    }
}